body {
    margin: 0;
    padding: 0;
}

.bg-celeste {
    background-color: #B7E0EE;
    padding: 20px;
}

.bg-verde {
    background-color: #4EAD42;
}

.bg-blue {
    background-color: #2F2F41;
}

.m-section-navAfter {
    padding-top: 90px;
}

.banner-img__mb {
    margin-bottom: -20px;
}

.banner-icon {
    margin-right: 10px;
}

.banner-border {
    border-bottom: 30px solid white;
}

.contenedor-mt {
    margin-top: -40px;
}

.contenedorServicios-mt {
    margin-top: -80px;
}

.bg-comillas {
    background-image: url('../img/comillas.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
}

.bg-portal {
    background-image: url('../img/portal.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-bottom: 60px;
}

.bg-servicios {
    background-image: url('../img/servicios.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-bottom: 70px;
}

.btn-whatsapp {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 25px;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    z-index: 99;
    padding: 12px;
}

@media (max-width: 576px) {
    .btn-whatsapp {
        width: 70px;
        height: 70px;
        bottom: 30px;
        right: 15px;
        z-index: 100;
        padding: 10px;
    }
}